:root {
    --font-main: Play, sans-serif;
    --font-mono: "Roboto Mono", monospace;
    --bold: 700;

    --color-dark: #2D3943;
    --color-light: #f0f0f0;
    --color-main: #2b87d3;
    --color-danger: #F62451;
    --color-success: #1fd78d;
    --color-warn: #EB7B59;
    --color-loading: #A4A4A4;

    --color-dark-mode: #161c21;
    --color-dark-text: #47535D;
    --color-dark-mark: #40505c;
    --color-dark-hover: #47535D;

    --color-light-fade: #A4A4A4;

    --header-height: 100px;
}

*{
    font-family: var(--font-main);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    transition: opacity ease-in 0.2s;
}

.body{
    display: grid;
}

.body header{
    grid-row: 1;
    grid-column: 1/3;
}

.header{
    height: var(--header-height);
    background-color: var(--color-dark);
    max-height: var(--header-height);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 30px;
    z-index: 1001;
}

.header>div {
    height: 100%;
    display: flex;
    align-items: center;
}

.a-logo{
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 50%;
}

.a-logo i{
    padding-right: 10px;
}

.a-logo h1{
    font-size: 40px;
}

.a-no-deco{
    text-decoration: none;
    color: var(--color-light);
}